@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil|Source+Code+Pro:900");

/* detail root variables */
:root {
  --font-serif: "Allerta Stencil", sans-serif;
  --font-mono: "Source Code Pro", monospace;
  --color-text: #efeee7;
  --color-bg: #223458;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* title of the page */

.title-name {
  font-family: var(--font-serif);
  margin: 30px 40px 10px 40px;
  color: var(--color-bg);
}

/* cards-container */
.App {
  background-image: linear-gradient(to right, #3056e0, #5699db);
  padding: 30px;
  border-radius: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* cards */

.card {
  border-radius: 30px;
  padding: 5px;
  margin-top: 20px;
}
.card:hover {
  transform: translateY(-8px);
}
/* card title */
.title {
  font-size: small;
  letter-spacing: 2px;
  font-weight: 700;
  color: rgb(185, 179, 179);
  font-weight: bold;
}
/* card head */
.head {
  font-size: 50px;
}
.sub {
  font-size: small;
}
/* card-btns */
.btn {
  border-radius: 30px;
  height: 50px;
  font-family: var(--font-serif);
}
body
{background:#ffa07a}

/* Reponsive */

@media all and (max-width: 600px) {
  .App {
    padding: 20px;
  }
  .card {
    margin-top: 20px;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
  }
}
